.phone {
  width: 60px;
  height: 60px;
  background-image: url(../../images/phone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: spin;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.phone:hover {
  animation-play-state: paused;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.divHeader {
  font-size: 12px;
  padding: 12px 15px;
  @media (min-width: 480px) {
    font-size: 18px;
    max-width: 480px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
  align-items: center;
  min-height: 64px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
