.phone {
  width: 60px;
  height: 60px;
  background-image: url(../../images/phone.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.divHeader {
  font-size: 12px;
  padding: 12px 20px;
  @media (min-width: 480px) {
    font-size: 18px;
    padding: 12px 50px;
    max-width: 480px;
  }
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
  align-items: center;
  min-height: 64px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
