.header {
    position: relative;
    margin-top: 100px;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    color:#6c5ce7;
    text-decoration-line: none;
    transition-property: color;
    transition-duration: 1000ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.header:hover {
color: #fab1a0;
}

.header:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-image: url(../../images/phone.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


